body{
    margin-top: 60px;
}

.home-jumbotron{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: transparent;
}
/* Sets the main div to full width */
.wrapper {
    position: relative;
    width: 100%;
}
.clickable-row:hover, .toggle-section:hover{
    cursor: pointer;
}


@media print{
    body{
      width: 900px;
    }
    .prevent-print{
      display: none !important;
    }
    .print-section{
        display: block !important;
    }
  }